<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.work.springboot03.dao.UserMapper" >

    <resultMap id="userMap" type="com.work.springboot03.pojo.User">
        <result property="uId" column="u_id"/>
        <result property="uName" column="u_name"/>
        <result property="uPassword" column="u_password"/>
        <result property="uAge" column="u_age"/>
        <result property="uBirthday" column="u_birthday"/>
        <result property="rId" column="r_id"/>
    </resultMap>

    <resultMap id="urMap" type="com.work.springboot03.pojo.User" extends="userMap">
        <association property="role" javaType="Role">
            <result property="rId" column="oid"/>
            <result property="rName" column="r_name"/>
        </association>
    </resultMap>
<!--    查询所有有角色的用户-->
    <select id="getAllUserAndRole" resultMap="urMap">
        SELECT u.*,r.r_id "oid",r.r_name
        FROM t_user u,t_role r
        WHERE u.r_id=r.r_id
        <if test="name!=null">
            and u_name like concat("%",#{name},"%")
        </if>
        LIMIT #{start},#{pageSize}
    </select>
<!--查询是否能登录-->
    <select id="login" resultMap="urMap">
        SELECT * FROM t_user u WHERE  u_name= #{uName} AND u_password=#{uPassword}
    </select>
<!--    查询总记录数,返回值为int类型-->
    <select id="selectCount" parameterType="String" resultType="int">
        SELECT count(*)
        FROM t_user u,t_role r
        WHERE u.r_id=r.r_id
        <if test="_parameter!=null">
            and u_name like concat("%",#{name},"%")
        </if>
    </select>
</mapper>